body {
    background-color: #070F2B;
    color: #9290C3;
}

/*Fonts*/


/* Header Contact Section*/

.contact-info {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    justify-content: space-evenly;
    position: fixed;
    bottom: 0;
}

.contact-info li {
    font-size: 25px;
    color: #9290C3;
    padding: 5px;
}

.contact-info a {
    text-decoration: none;
}

.contact-info a:hover {
    text-decoration: underline;
}

.contact-info a:visited {
    color: #9290C3;
}

/*Profile Section*/

.personal {
    display: flex;
    flex-wrap: wrap;
    margin-left: 10%;
    justify-content: space-evenly;
}

.personal img {
    /* margin: auto; */
    padding: 20px;
    height: 200px;
}

.personal img:hover {
    scale: 1.1;
}
.personal p {
    padding: 20px;
    font-size: 40px;

}

/*Education Section*/

.education fieldset {
    margin: auto 5%;
}

.education legend {
    font-size: 40px;
}

.education table {
    margin: auto;
    width: 80vw;
}

td {
    border: 2px solid #2E236C;
    height: 40px;
    width: 100vw;
    font-size: 20px;
}

/* Skills Section*/
.skills fieldset {
    margin: auto 5%;
}

.skills legend {
    font-size: 40px;
}

.skills ul {
    list-style: none;
    font-size: 20px;
    margin: auto 5%;
    border: 2px solid #2E236C;
    border-radius: 5px;
}