body {
    background-color: #070F2B;
    color: #9290C3;
}

/*Fonts*/


/* Header Contact Section*/

.contact-info {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    justify-content: space-evenly;
}

.contact-info>li {
    font-size: 25px;
    color: #9290C3;
    padding: 5px;
}

.contact-info>li>a:visited {
    color: #9290C3;
}

/*Profile Section*/

.personal {
    display: flex;
    flex-wrap: wrap;
    margin-left: 10%;
    justify-content: space-evenly;
}

.personal>img {
    /* margin: auto; */
    padding: 20px;
    height: 200px;
}

.personal>p {
    padding: 20px;
    font-size: 40px;

}

/*Education Section*/

.education>fieldset {
    margin: auto 5%;
}

.education>fieldset>legend {
    font-size: 40px;
}

.education>fieldset>table {
    margin: auto;
    width: 80vw;
}

td {
    border: 2px solid #2E236C;
    height: 40px;
    width: 100vw;
    font-size: 20px;
}

/* Skills Section*/
.skills>fieldset {
    margin: auto 5%;
}

.skills>fieldset>legend {
    font-size: 40px;
}

.skills>fieldset>ul {
    list-style: none;
    font-size: 20px;
    margin: auto 5%;
    border: 2px solid #2E236C;
    border-radius: 5px;
}